/* .disabled {
    pointer-events: none;
}

.case-study {
    display: flex;
    flex-direction: column;
}

.case-study div {
    order: 2;
}

.case-study a {
    order: 1;
}

.case-study img {
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    padding-bottom: 1.5rem;
}

.case-study h1 {
    font-weight: bolder;
}

h1 a:hover {
    color: #303131;
}

.project-cat {
    letter-spacing: 0.03em;
}

@media only screen and (min-width: 992px) {
    .case-study {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .case-study div {
        padding-right: 1.5rem;
        width: 40%;
        order: 1;
    }

    .case-study img {
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        padding-bottom: 0;
    }

    .case-study a {
        order: 2;
    }
} */
