@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

/* General styles */

body {
    font-family: 'Karla', sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #303131;
}

.underline {
    text-decoration: underline;
}

a {
    color: #303131;
}

.highlight {
    color: #5b64e1;
}

a:hover {
    color: #5b64e1;
}

.lower-opacity {
    opacity: .7;
}

button:focus {
    outline-color: #5b64e1;
}


/* Navigation */

.headroom--pinned,
.headroom--unpinned {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: white;
}

nav,
.navbar-brand {
    font-size: 1.2em;
}

.sticky-top {
    padding-top: 3em;
}

.navbar-nav a {
    display: block;
    margin-left: 1.5rem;
    color: rgba(0, 0, 0, .5);
}

.navbar-brand {
    font-weight: bolder;
}

nav a.active {
    color: #5b64e1;
    border-bottom: 1px solid #5b64e1;
    padding-bottom: 3px;
}

nav a:hover {
    text-decoration: none;
    color: #5b64e1;
}

.navbar {
    padding: 2rem 0rem;
}


/* Footer */

footer {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: rgba(0, 0, 0, .5);
    font-size: .9rem;
}

footer span {
    color: black;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.socials img {
    width: 3.1rem;
    height: auto;
    padding: 0 .7rem;
}

@media only screen and (min-width: 992px) {
    body {
        width: 60%;
    }
    .headroom--pinned,
    .headroom--unpinned {
        width: 60%;
    }
}


/* Case Study */
#Research li {
    padding: 0;
}

.other-domains img {
    height: 5rem;
    width: auto;
    margin: 1rem 2rem;
}

.other-domains {
    text-align: center;
}

.section {
    padding-bottom: 1.3rem;
}

section strong {
    color: #5b64e1;
}

.teams {
    margin: 0;
    text-decoration: underline;
}

.overview {
    display: flex;
    justify-content: space-between;
}

.overview-1 {
    padding-right: 4rem;
    width: 200rem, ;
}

.overview-2 {
    width: 75rem;
}

.overview-2 h3 {
    margin-bottom: 0;
}

section h2 {
    font-weight: 800;
    padding-bottom: 1rem;
}

section h3 {
    font-size: 20px;
    font-weight: 800;
}

section p {
    font-size: 16px;
    line-height: 1.7rem;
}

section a {
    color: #5b64e1;
}

.responsive-image {
    width: 100%;
    height: auto;
}

section img {
    padding: 1rem 0rem;
}

section {
    width: 85%;
}

.sticky {
    /* position: fixed;
    top: 10rem;
    left: -10px; */
    position: sticky;
    top: 0;
}

.sticky>.scrollspy {
    position: absolute;
    align-self: start;
    margin-top: 100px;
    z-index: 1;
    right: -5px;
    overflow-x: hidden;
    padding-left: 0;
    border-left: 1px solid rgba(0, 0, 0, .1);
    max-width: 160px;
}

.scrollspy {
    visibility: hidden;
}

.scrollspy li {
    margin-left: 1rem;
    padding: 4px 0;
    font-size: 13px;
    list-style: none;
}

li {
    margin: 10px;
    padding: 3px 0;
}

a {
    color: black;
}

.isCurrent {
    font-weight: bold;
}

.isCurrent a,
h2 {
    color: #5b64e1;
}

section {
    padding-top: 60px;
}

.hover {
   cursor: pointer;
}

@media only screen and (min-width: 992px) {
    .scrollspy {
        visibility: visible;
    }
}