@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700;1,900&&display=swap');

body, .navbar {
  background-color: #FDFDFD;
}

main {
  font-family: 'Nunito', sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #37363B;
  background-color: #FDFDFD;
  width: 90%;
  max-width: 1000px;
}

.underline {
  border-bottom: 1px solid #5b64e1;
}

a.highlight {
  color: #5b64e1;
  font-weight: 400;
}

.highlight {
  color: #5b64e1;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
}

.lower-opacity {
  opacity: .7;
}

strong {
  font-weight: 700;
}

button:focus {
    outline-color: #5b64e1;
}


/* Navigation */
.headroom--pinned,
.headroom--unpinned {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: white;
}

nav,
.navbar-brand {
  font-size: 1.2em;
}

.sticky-top {
  padding-top: 3em;
}

.navbar-nav a {
  display: block;
  margin-left: 1.5rem;
  color: #37363B;
  font-weight: 600;
}

.navbar-brand {
  font-weight: 600;
}

nav a.active {
  color: #5b64e1;
}

nav a {
  position: relative;
}

nav a:hover {
  text-decoration: none;
}

nav a.nav-hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: #5b64e1;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

nav a.nav-hover:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar {
  padding: 2rem 0rem;
}

/* Nexus Builders */
#Research li {
  padding: 0;
}

.other-domains img {
  height: 5rem;
  width: auto;
  margin: 1rem 2rem;
}

.other-domains {
  text-align: center;
}

.section {
  padding-bottom: 1.3rem;
}

section strong {
  color: #5b64e1;
}

.teams {
  margin: 0;
  text-decoration: underline;
}

.overview {
  display: flex;
  justify-content: space-between;
}

.overview-1 {
  padding-right: 4rem;
  width: 200rem, ;
}

.overview-2 {
  width: 75rem;
}

section h2 {
  font-weight: 800;
  padding-bottom: 1rem;
}

section h3 {
  font-size: 20px;
  font-weight: 800;
}

section p {
  font-size: 16px;
  line-height: 1.7rem;
}

section a {
  color: #5b64e1;
}

.nexus-header img {
  width: 100%;
}

section img {
  width: 100%;
  padding: 1rem 0rem;
}

section {
  width: 85%;
}

.sticky {
  /* position: fixed;
    top: 10rem;
    left: -10px; */
  position: sticky;
  top: 0;
}

.sticky>.scrollspy {
  position: absolute;
  align-self: start;
  margin-top: 100px;
  z-index: 1;
  right: -5px;
  overflow-x: hidden;
  padding-left: 0;
  border-left: 1px solid rgba(0, 0, 0, .1);
  max-width: 160px;
}

.scrollspy {
  visibility: hidden;
}

.scrollspy li {
  margin-left: 1rem;
  padding: 4px 0;
  font-size: 13px;
  list-style: none;
}

li {
  margin: 10px;
  padding: 10px 0;
}

a {
  color: black;
}

.isCurrent {
  font-weight: bold;
}

.isCurrent a,
h2 {
  color: #5b64e1;
}

section {
  padding-top: 60px;
}

@media only screen and (min-width: 992px) {
  .row img {
    padding-bottom: 0;
  }
}

.case-study-page img {
  width: 100%;
}

.case-study-page .overview {
  display: flex;
}

/* .case-study-page .overview div {
  width: 30%;
} */

.case-study-page p {
  margin: 0;
}

.case-study-page h2 {
  color:#37363B;
  font-size: 16px;
  font-weight: 800;
}