@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://use.typekit.net/szq2avc.css"');


/* General styles */
body {
    font-family: 'Karla','aktiv-grotesk', 'Nunito Sans', sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #303131;
}

/* Navigation */
.headroom--pinned, .headroom--unpinned {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: white;
}

nav,
.navbar-brand {
    font-size: 1.2em;
}

.sticky-top {
    padding-top: 3em;
}

.navbar-nav a {
    display: block;
    margin-left: 1.5rem;
    color: rgba(0, 0, 0, .5);
}

.navbar-brand {
    font-weight: bolder;
}

nav a.active {
    color: #5b64e1;
    border-bottom: 1px solid #5b64e1;
    padding-bottom: 3px;
}

nav a:hover {
    text-decoration: none;
    color: #5b64e1;
}

.navbar {
    padding: 2rem 0rem;
}

/* Footer */
footer {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: rgba(0, 0, 0, .5);
    font-size: .9rem;
}

footer span {
    color: black;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.socials img {
    width: 3.1rem;
    height: auto;
    padding: 0 .7rem;
}

@media only screen and (min-width: 992px) {
    body {
        width: 60%;
    }

    .headroom--pinned, .headroom--unpinned {
        width: 60%;
    }
}