#Research li {
  padding:0;
}

.other-domains img {
  height: 5rem;
  width: auto;
  margin: 1rem 2rem;
}

.other-domains {
  text-align: center;
}
.section {
  padding-bottom: 1.3rem;
}

section strong {
 color: #5b64e1;
}

.teams {
  margin: 0;
  text-decoration: underline;
}

.overview {
  display: flex;
  justify-content: space-between;
}

.overview-1 {
  padding-right: 4rem;
  width: 200rem,;
}

.overview-2 {
  width: 75rem;
}

section h2 {
  font-weight: 800;
  padding-bottom: 1rem;
}

section h3 {
  font-size: 20px;
  font-weight: 800;
}

section p {
  font-size: 16px;
  line-height: 1.7rem;
}

section a {
  color: #5b64e1;
}

.nexus-header img {
  width: 100%;
}

section img {
  width: 100%;
  padding: 1rem 0rem;
}

section{
  width: 85%;
}

.sticky {
  /* position: fixed;
  top: 10rem;
  left: -10px; */
  position: sticky;
  top: 0;
}

.sticky>.scrollspy {
  position: absolute;
  align-self: start;
  margin-top: 100px;
  z-index: 1;
  right: -5px;
  overflow-x: hidden;
  padding-left: 0;
  border-left: 1px solid rgba(0, 0, 0, .1);
  max-width: 160px;
}

.scrollspy {
  visibility: hidden;
}

.scrollspy li {
  margin-left: 1rem;
  padding: 4px 0;
  font-size: 13px;
  list-style: none;
}

li {
  margin: 10px;
  padding: 10px 0;
}

a {
  color: black;
}

.isCurrent {
  font-weight: bold;
}

.isCurrent a,
h2 {
  color: #5b64e1;
}

section {
  padding-top: 60px;
}

@media only screen and (min-width: 992px) {
  .scrollspy {
    visibility: visible;
  }
}