.landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.intro {
    font-size: 2rem;
    margin-top: 2rem;
}

.intro-name {
    font-weight: bold;
    font-size: 3.5rem;
}

.intro-desc {
    font-weight: lighter;
    font-size: 2rem;
    padding-bottom: 1.3rem;
}

#case-title {
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
    padding-bottom: 5rem;
}

#written-socials {
    font-size: 1.2rem;
}

#written-socials a {
    padding-right: 1rem;
}

.intro p {
    margin: 0;
}

.down-arrow {
    width: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

.AnyClassForContainer {
    position: fixed;
    right: -100px;
    bottom: 40px;
    transition: right 0.5s;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    outline: none;
}

.AnyClassForContainer img {
    width: 2rem;
}

.AnyClassForTransition {
    right: 20px;
}

.case-study {
    padding-bottom: 8rem;
}

#case-studies {
    padding-top: 8rem;
}